MAIL_USERNAME=PUT_YOUR_EMAIL_HERE
MAIL_PASSWORD=PUT_YOUR_PASSWORD_HERE
MAIL_FROM=PUT_YOUR_EMAIL_HERE
MAIL_PORT=PORT_NUMBER_HERE
MAIL_SERVER=PUT_YOUR_SMTP_SERVER_HERE
MAIL_FROM_NAME=PUT_YOUR_NAME_HERE
ADMIN_EMAIL=PUT_YOUR_ADMIN_EMAIL_HERE
API_SECRET_KEY=your-secret-key-here
DATABASE_URL=PUT_YOUR_DATABASE_URL_HERE
